body {
    background-color: #11151c;
    color: white;
    width: 100vw;
}

navbar {
    width: 100vw;
    height: 2.25em;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#menu_container {
    border-style: solid;
    border-color: white;
    border-width: .15em;
    border-radius: 7%;
    padding: .17em .2em .17em .2em;
    width: 3em;
    margin-bottom: 2em;
    margin-top: .2em;
}

.dash {
    background-color: white;
    width: 32px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25em;
    margin-bottom: .2em;
}

#opening_screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    color: white;
    line-height: .05em;
    height: 100vh;
    width: 100vw;
}

#opening_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#opening_screen h1 {
    font-size: 4em;
}

#opening_screen p {
    font-size: 2em;
    font-style: oblique;
}

#profile_pic {
    height: 20em;
    width: 20em;
}

#side_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#technical_skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}