body {
    background-color: #11151c;
}

#start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    margin-top: 40vh;
    line-height: .05em;
}

#start h1 {
    font-size: 4em;
}

#start p {
    font-size: 2em;
    font-style: oblique;
}