   @media (min-width: 767px) {
       #menu_items {
           display: flex;
       }
       #menu_container {
           display: none;
       }
   }
   
   @media (max-width: 1024px) {
       #header_sub_text {
           bottom: 10%;
       }
   }
   
   @media (max-width: 767px) {
       #opening_text {
           font-size: 14px;
           padding-left: 20px;
           padding-right: 20px;
       }
       body p {
           font-size: 16px;
       }
       #menu_items {
           display: none;
       }
       #menu_container {
           display: flex;
       }
       .dark_tile,
       .light_tile {
           width: 100%;
           flex: 0;
           max-width: 90%;
       }
       #about,
       .about_tiles,
       .card_wrapper {
           display: flex;
           flex-direction: column;
           align-items: center;
       }
       #projects {
           margin: auto;
       }
       .project_links {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           column-gap: 10px;
           row-gap: 10px;
           width: 100%;
       }
       .project_links a {
           text-align: center;
           width: 100%;
       }
       #mobile_menu_items {
           max-width: unset;
       }
   }