   @media (min-width: 900px) {
       body {
           font-size: 16px;
           /* overscroll-behavior: none; */
       }
   }
   
   @media (max-width: 767px) {
       .dark_tile,
       .light_tile {
           width: 100%;
       }
       #about,
       .about_tiles,
       .card_wrapper {
           display: flex;
           flex-direction: column;
       }
       .project_pic {
           max-width: 250px;
       }
   }
   /* @media screen and (max-width: 400px) {
       body {
           width: 100vw;
           font-size: 16px;
           margin-left: 0;
           margin-top: 0;
           margin-right: 0;
           margin-bottom: 0;
       }
   }
   
   @media screen and (max-width: 350px) {
       body {
           width: 100vw;
           font-size: 14px;
           margin-left: 0;
           margin-top: 0;
           margin-right: 0;
           margin-bottom: 0;
       }
   } */